flows_agriculturaapp.json
[{"id":"28b6fe3d.4a6e92","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"571b541.38f07ac","type":"ui_gauge","z":"28b6fe3d.4a6e92","name":"","group":"cff05886.e59f88","order":1,"width":10,"height":5,"gtype":"gage","title":"Vazão","label":"l/min","format":"{{value}}","min":0,"max":"5","colors":["#36f202","#fbeb0e","#cb3a3a"],"seg1":"","seg2":"","x":310,"y":260,"wires":[]},{"id":"be1e9492.0cbbb8","type":"ui_chart","z":"28b6fe3d.4a6e92","name":"","group":"688daca9.52dcc4","order":2,"width":10,"height":5,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":500,"y":100,"wires":[[]]},{"id":"fa5e6764.539068","type":"ui_chart","z":"28b6fe3d.4a6e92","name":"","group":"cff05886.e59f88","order":2,"width":10,"height":5,"label":"Vazão","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":310,"y":300,"wires":[[]]},{"id":"d7c151b8.1a5f8","type":"ui_gauge","z":"28b6fe3d.4a6e92","name":"","group":"688daca9.52dcc4","order":1,"width":10,"height":5,"gtype":"gage","title":"Umidade Atual","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0dcae3","#1483c8","#0d4dc5"],"seg1":"","seg2":"","x":520,"y":60,"wires":[]},{"id":"5c5c7694.412a38","type":"mqtt in","z":"28b6fe3d.4a6e92","name":"","topic":"esp32/Umidade","qos":"2","datatype":"auto","broker":"6245368.ea0bac8","nl":false,"rap":true,"rh":0,"x":120,"y":100,"wires":[["a363f397.eb4d4"]]},{"id":"8c2f774f.7ee0c8","type":"mqtt in","z":"28b6fe3d.4a6e92","name":"","topic":"esp32/Vazão","qos":"2","datatype":"auto","broker":"6245368.ea0bac8","nl":false,"rap":true,"rh":0,"x":110,"y":260,"wires":[["571b541.38f07ac","fa5e6764.539068"]]},{"id":"cf330ff1.11481","type":"ui_slider","z":"28b6fe3d.4a6e92","name":"","label":"Umidade máxima desejada","tooltip":"","group":"240123f9.be426c","order":2,"width":9,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":140,"y":460,"wires":[["37064470.b2aa9c","d98b2f3d.b1305"]]},{"id":"d98b2f3d.b1305","type":"mqtt out","z":"28b6fe3d.4a6e92","name":"","topic":"esp32/umidadeMaxDesejada","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6245368.ea0bac8","x":440,"y":460,"wires":[]},{"id":"33aa9676.a80caa","type":"ui_slider","z":"28b6fe3d.4a6e92","name":"","label":"Umidade minima desejada","tooltip":"","group":"240123f9.be426c","order":4,"width":9,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":140,"y":540,"wires":[["2ab05e35.0c18b2","7ec232b.315c9cc"]]},{"id":"2ab05e35.0c18b2","type":"mqtt out","z":"28b6fe3d.4a6e92","name":"","topic":"esp32/umidadeMinDesejada","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6245368.ea0bac8","x":440,"y":600,"wires":[]},{"id":"37064470.b2aa9c","type":"ui_text","z":"28b6fe3d.4a6e92","group":"240123f9.be426c","order":3,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":370,"y":400,"wires":[]},{"id":"7ec232b.315c9cc","type":"ui_text","z":"28b6fe3d.4a6e92","group":"240123f9.be426c","order":5,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":390,"y":540,"wires":[]},{"id":"3ad52e51.c31472","type":"mqtt in","z":"28b6fe3d.4a6e92","name":"","topic":"esp32/valvula","qos":"2","datatype":"auto","broker":"6245368.ea0bac8","nl":false,"rap":true,"rh":0,"x":910,"y":260,"wires":[["6a56afba.7cddd","863d9fff.a1c94"]]},{"id":"61cefece.a9ae4","type":"ui_led","z":"28b6fe3d.4a6e92","order":1,"group":"240123f9.be426c","width":10,"height":1,"label":"Válvula","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1270,"y":260,"wires":[]},{"id":"6a56afba.7cddd","type":"function","z":"28b6fe3d.4a6e92","name":"","func":"if (msg.payload == \"0.00\"){\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":260,"wires":[["61cefece.a9ae4"]]},{"id":"863d9fff.a1c94","type":"debug","z":"28b6fe3d.4a6e92","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":320,"wires":[]},{"id":"a363f397.eb4d4","type":"function","z":"28b6fe3d.4a6e92","name":"","func":"msg.payload = Number(msg.payload); \n//msg.payload = (0.0008*msg.payload) + 0.0056;\nvar converte = 1/((0.0008*msg.payload) + 0.0056);\nvar umidade = ((-345.38*(Math.pow(converte, 2))) + (731.89*converte) - 280.51);\numidade = umidade.toFixed(2);\nif (umidade > 100){\n    umidade = 100;\n}\n\nif (umidade < 0){\n    umidade = 0;\n}\nmsg = {payload:umidade};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":100,"wires":[["f68ca026.4d106","be1e9492.0cbbb8","d7c151b8.1a5f8"]]},{"id":"f68ca026.4d106","type":"mqtt out","z":"28b6fe3d.4a6e92","name":"","topic":"esp32/umidadeAtual","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6245368.ea0bac8","x":540,"y":140,"wires":[]},{"id":"83ce13f4.ba033","type":"Stackhero-MySQL","z":"28b6fe3d.4a6e92","server":"cab6fe7d.cb9ca","name":"","x":450,"y":700,"wires":[["bb1a4856.6c4948"]]},{"id":"ae0913d8.0410d","type":"function","z":"28b6fe3d.4a6e92","name":"Inserir","func":"var Umidade = msg.payload;\nvar vazao = 2;\n\nmsg.topic = \"INSERT INTO horta1 (Umidade,vazao) VALUES (\"+Umidade+\",\"+vazao+\" );\" \nreturn msg;\n  ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":700,"wires":[["83ce13f4.ba033"]]},{"id":"bb1a4856.6c4948","type":"debug","z":"28b6fe3d.4a6e92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":700,"wires":[]},{"id":"e07e2fb1.70056","type":"function","z":"28b6fe3d.4a6e92","name":"Select","func":"msg.topic = \"SELECT * FROM horta1 order by id DESC limit 10;\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":800,"wires":[["8b25d397.4ad4"]]},{"id":"8b25d397.4ad4","type":"Stackhero-MySQL","z":"28b6fe3d.4a6e92","server":"cab6fe7d.cb9ca","name":"","x":450,"y":800,"wires":[["6c64b5ba.d7d1cc","a42bc92c.370798"]]},{"id":"6c64b5ba.d7d1cc","type":"debug","z":"28b6fe3d.4a6e92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":800,"wires":[]},{"id":"41d99059.4d658","type":"inject","z":"28b6fe3d.4a6e92","name":"","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":800,"wires":[["e07e2fb1.70056"]]},{"id":"a42bc92c.370798","type":"ui_template","z":"28b6fe3d.4a6e92","group":"994c4c5a.e6963","name":"","order":1,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Horário</span>\n  <span flex>Umidade</span>\n  <span flex>Vazão</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: white\">{{row.Horario}}</span>\n  <span flex style=\"color: red\">{{row.Umidade}} %</span>\n  <span flex style=\"color: red\">{{row.Vazao}} L/H</span>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":860,"wires":[[]]},{"id":"e41d7788.76faa8","type":"mqtt in","z":"28b6fe3d.4a6e92","name":"","topic":"esp32/Vazão","qos":"2","datatype":"auto","broker":"b75907cd.cb3858","nl":false,"rap":true,"rh":0,"x":110,"y":700,"wires":[["ae0913d8.0410d"]]},{"id":"ee1c04e5.827208","type":"mqtt in","z":"28b6fe3d.4a6e92","name":"","topic":"esp32/umidadeAtual","qos":"2","datatype":"auto","broker":"6245368.ea0bac8","nl":false,"rap":true,"rh":0,"x":130,"y":640,"wires":[["ae0913d8.0410d"]]},{"id":"cff05886.e59f88","type":"ui_group","name":"Vazão","tab":"2aba02f1.e2d95e","order":3,"disp":true,"width":10,"collapse":false},{"id":"688daca9.52dcc4","type":"ui_group","name":"Umidade","tab":"2aba02f1.e2d95e","order":2,"disp":true,"width":10,"collapse":false},{"id":"6245368.ea0bac8","type":"mqtt-broker","name":"mqttagricultura","broker":"agriculturapp.duckdns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"240123f9.be426c","type":"ui_group","name":"Controle","tab":"2aba02f1.e2d95e","order":1,"disp":true,"width":"10","collapse":false},{"id":"cab6fe7d.cb9ca","type":"Stackhero-MySQL-Server","name":"","host":"localhost","port":"3306","tls":false,"database":"cultivo"},{"id":"994c4c5a.e6963","type":"ui_group","name":"Consulta","tab":"2aba02f1.e2d95e","order":5,"disp":true,"width":10,"collapse":false},{"id":"b75907cd.cb3858","type":"mqtt-broker","name":"Mqtthidrometro","broker":"ifhidrometro.duckdns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2aba02f1.e2d95e","type":"ui_tab","name":"Projeto","icon":"dashboard","order":1,"disabled":false,"hidden":false}]